@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
header {
  max-width: 1440px;
  margin: 0px auto;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #edf1f9;
  padding: 0px 30px;
}
.navber-hearder {
  font-size: 2rem;
  font-weight: bold;
  color: blue;
}
.navber-hearder span {
  color: orange;
}
ul {
  display: flex;
  gap: 20px;
}
ul a {
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 600;
  color: black;
}
.active {
  color: blue;
}

/* banner-section */
.banner {
  display: flex;
  justify-content: space-between;
  margin: 130px auto;
  padding: 0px 100px;
}
.banner-left {
  width: 500px;
  height: 500px;
}
.banner-title {
  font-size: 2.3rem;
  font-weight: bold;
  color: #f0933d;
}
.banner-header {
  font-size: 1.6rem;
  font-weight: 700;
}
.banner-describtion {
  font-size: 1rem;
  font-weight: 600;
  color: #3e3e3e;
  text-align: justify;
}
.Download-CV button {
  border: 2px solid #7cf03d;
  border-radius: 7px;
  padding: 10px 50px;
  color: #1f242d;
  background-color: #7cf03d;
  font-weight: 700;
  font-size: 16px;
  transition: 0.5s;
  cursor: pointer;
}
.Download-CV button:hover {
  color: #7cf03d;
  background-color: #1f242d;
  transition: 1s;
}
.banner-right {
  width: 400px;
  height: 400px;
  background-image: url(shapes/Group\ 33080.png);
  background-size: cover;
  background-position: center;
}
.banner-right img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}
.banner-right img:hover {
  border: 10px solid blue;
  box-shadow: 1px 0px 30px 4px #3349ff;
}

/* main */
main {
  max-width: 1440px;
  margin: 0px auto;
}

/* about-section */
.about-title {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  color: #3349ff;
}
.about-contain {
  display: flex;
  justify-content: space-between;
  margin: 120px auto;
  padding: 0px 100px;
}
.about-left {
  width: 400px;
  height: 400px;
  background-image: url(shapes/Group\ 33087.png);
  background-size: cover;
  background-position: center;
}
.about-left:hover {
  box-shadow: 1px 2px 25px 12px;
  color: #3349ff;
  border-radius: 5px 100px 5px 100px;
}
.about-left img {
  width: 395px;
  border-bottom-left-radius: 114px;
}
.about-right {
  width: 500px;
  height: 500px;
}
.about-header {
  margin-top: 0px;
  font-size: 3rem;
  font-weight: 700;
  color: #f0933d;
}
.about-describtion {
  font-size: 1rem;
  font-weight: 600;
  color: #3e3e3e;
  text-align: justify;
}

.about-email {
  color: #3e3e3e;
  font-size: 1rem;
  font-weight: 600;
}
.about-form {
  color: #3e3e3e;
  font-size: 1rem;
  font-weight: 600;
}
.span1 {
  color: #3349ff;
}
.btn {
  border-radius: 10px;
  margin-top: 30px;
}
.btn button {
  padding: 10px 55px;
  border: 2px solid #e1f5c3;
  background-color: #7cf03d;
  display: inline-block;
  border-radius: 10px;
  cursor: pointer;
  font-size: 20px;
  transition: 0.5s;
}
.btn button:hover {
  color: greenyellow;
  background-color: #00093c;
  box-shadow: 1px 2px 10px 7px;
}

/* skils-section */
.skills {
  max-width: 1440px;
  margin: 100px auto;
  padding: 0px 100px;
}
.skills-header {
  color: #3349ff;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 70px;
}
.skills-main {
  padding-right: 15px;
  padding-bottom: 10px;
  background: #edf1f9;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.skills-container {
  width: 45%;
  height: 100%;
  padding: 10px 20px;
  border-radius: 5px;
}
.skill-box {
  margin-top: 40px;
  margin-bottom: 60px;
}
.title {
  font-size: 15px;
  font-weight: bold;
  color: #3349ff;
}
.skill-bar {
  height: 12px;
  width: 100%;
  border-radius: 6px;
  margin-top: 6px;
  background: rgba(0, 0, 0, 0.1);
}
.skill-per {
  position: relative;
  display: block;
  height: 100%;
  border-radius: 6px;
  background: #a6b5f5;
  animation: progress 1.4s ease-in-out forwards;
  opacity: 0;
}
.html {
  width: 95%;
  animation-delay: 0, 15s;
}
.css {
  width: 95%;
  animation-delay: 0, 30s;
}
.tailwind {
  width: 90%;
  animation-delay: 0, 45s;
}
.javaScript {
  width: 70%;
  animation-delay: 0, 45s;
}
@keyframes progress {
  0% {
    width: 0;
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
.skill-per .tooltip {
  position: absolute;
  right: -14px;
  top: -28px;
  font-size: 9px;
  font-weight: 600;
  color: #fff;
  padding: 2px 6px;
  border-radius: 3px;
  background: #f0933d;
  z-index: 1;
}
.tooltip::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -2px;
  height: 10px;
  width: 10px;
  z-index: -1;
  background: #f0933d;
  transform: translateX(-50%) rotate(45deg);
}

/* progress */
.skilla-progress {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
}
.skill {
  width: 160px;
  height: 160px;
  position: relative;
}
.outer {
  height: 160px;
  width: 160px;
  border-radius: 50%;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
  padding: 20px;
}
.inner {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
    inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
    -0.5px -0.5px 0px rgba(255, 255, 255, 1),
    0.5px 0.5px 0px rgba(255, 255, 255, 1),
    0px 12px 10px -10px rgba(0, 0, 0, 0.05);
}
#number {
  font-weight: 600;
  color: #f0933d;
}
circle {
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 20px;
  stroke-dasharray: 472;
  stroke-dashoffset: 472;
  animation: animate 2s linear forwards;
}
svg {
  position: absolute;
  top: 0;
  left: 0;
}
.progress-title {
  text-align: center;
  color: #3349ff;
}
@keyframes animate {
  100% {
    stroke-dashoffset: 76;
  }
}
.circle-round {
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 20px;
  stroke-dasharray: 472;
  stroke-dashoffset: 472;
  animation: anim 2s linear forwards;
}
@keyframes anim {
  100% {
    stroke-dashoffset: 105;
  }
}
.circle-round-2 {
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 20px;
  stroke-dasharray: 472;
  stroke-dashoffset: 472;
  animation: animt 2s linear forwards;
}
@keyframes animt {
  100% {
    stroke-dashoffset: 168;
  }
}
